<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="fr"> <!--<![endif]-->
    
<%- include('../partials/head'); %>

<body>
    <style>
        .without_ampm::-webkit-datetime-edit-ampm-field {
            display: none;
        }
        input[type=datetime]::-webkit-clear-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            -o-appearance: none;
            -ms-appearance:none;
            appearance: none;
            margin: -10px; 
        }
    </style>
    <!-- OVERVIEW page -->
    <div data-role="page" id="page-overview">
        
        <%- include('../partials/header'); %>

        <div data-role="main" class="ui-content cmax8">
            
        <div  >
                
            <%- include('../partials/menu'); %>

            
            <div id="datetime" class="ui-content" data-inset="true">

                <div>
                    <form action="/update-time"  id="form-time" method="post">
                        
                        <div class="form-input">
                            <div class="ui-field-contain ">
                                <label  for="">Definir l'heure automatique</label>
                                <input  checked=<%= (date_status) ? 'false' : 'true' %>   type="checkbox" name="automatic" id="automatic"   >
                                <label for="automatic"></label>
                            </div>
                        </div>
                        <div class="form-input">
                            <div class="ui-field-contain ">
                                <label  for="">Date et Heure Actuelle</label>
                                <input type="datetime-local" name="time" id="input-date" value="<%= (local) ? local : '' %>" >
                            </div>
                        </div>
                        <div id="form-automatic"  class="<%= (date_status == 0) ? 'hide' : 'show' %>"  >
                            <div class="form-input">
                                <div class="ui-field-contain " >
                                    <label  for="">Serveur NTP1</label>
                                    <input type="text" value="<%= (ntp) ? ntp[0] : '' %>" name="ntp1">
                                </div>
                            </div>
                            <div class="form-input">
                                <div class="ui-field-contain ">
                                    <label  for="">Serveur NTP2</label>
                                    <input type="text" value="<%= (ntp) ? ntp[1] : '' %>" name="ntp2" >
                                </div>
                            </div>
                            <div class="form-input">
                                <div class="ui-field-contain ">
                                    <label  for="">Fuseau horaire</label>
                                    <%- include('../partials/timezone'); %>
                                </div>
                            </div>

                        </div>
                        
                        <div class="has-text-right">
                            <button type="submit" class="button is-info" style="width: auto !important;">Submit</button>
                        </div>
                    </form>
                </div>   
            </div>
            
            <!-- /content -->
        </div>
        <!-- /tabs -->
        </div>

        <!-- /footer -->
        <div data-role="popup" id="unipi_config_form_div">
            <form id="unipi_config_form">
                <div style="padding:20px 20px;" class="" id="unipi_config_form_inner_div">
                </div>
            </form>
        </div>
        

    </div>
    <script rel="javascript" type="text/javascript" src="js/app.js"></script>


</body>

</html>
