<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
    
<%- include('../partials/head'); %>

<body>

    <%- include('../partials/header'); %>

    <!-- OVERVIEW page -->
    <div data-role="page" id="page-overview">
        <div class="cmax8 info">
            <img src="/js/jquery/images/spinner.svg" class="ui-btn-right" id="unipi_loading_spinner" style="max-height: 80%;visibility: hidden;"/>

            <h4 style="margin: 0px;">  
                <%= user %>                
            </h3>
            <div class="date"></div>
            <div class="digital-clock">00:00:00</div>
        </div>

        <div style="position: relative;" data-role="header"  class="cmax8" data-id="pageHeader" data-position="fixed">
            <h2 >
                Engenys Control Panel
                <a href="/" class="logout ui-btn-active " style="position: absolute; right: 5px;">
                    <img src="/icon/power.png" width="25px" height="25px" alt="">
                </a>
            </h2>
        </div>
        <div data-role="main" class="ui-content cmax8">
            
        <div  >
                
            <%- include('../partials/menu'); %>

            

            <div id="log" class="ui-content" data-inset="true">
                <% for(var i=0; i < log.length; i++) { %>
                      <p><%= log[i] %></p>
                    </hr>
                <% } %>     
            </div>
            
            <!-- /content -->
        </div>
        <!-- /tabs -->
        </div>

        <!-- /footer -->
        <div data-role="popup" id="unipi_config_form_div">
            <form id="unipi_config_form">
                <div style="padding:20px 20px;" class="" id="unipi_config_form_inner_div">
                </div>
            </form>
        </div>
        

    </div>
    <script rel="javascript" type="text/javascript" src="js/app.js"></script>


</body>

</html>
