<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
    
<%- include('../partials/head'); %>

<body>

    <!-- OVERVIEW page -->
    <div data-role="page" id="page-overview">

        <%- include('../partials/header'); %>

        <div data-role="main" class="ui-content cmax8">
            
        <div  >
                
            <%- include('../partials/menu'); %>

            
            <!--Readers-->
            <div id="readers" class="ui-content" data-inset="true">
                <form action="/update-reader" id="form-reader" method="post">
                    <h1>Reader A</h1>
                    <div class="form-input">
                        <div class="ui-field-contain ">
                            <label  for="">Type</label>
                            <select name="type_a" id="" >
                                <option value="HEXADECIMAL" <%= (type_a == 'HEXADECIMAL') ? 'selected=true' : '' %>  >Hexadecimal</option>
                                <option value="DECIMAL" <%= (type_a == 'DECIMAL') ? 'selected=true' : '' %>>Decimal</option>
                                <option value="ASCII" <%= (type_a == 'ASCII') ? 'selected=true' : '' %> >Ascii</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-input">
                        <div class="ui-field-contain " >
                            <label  for="">First Character</label>
                            <input type="number" value="<%= (first_character_a) ? first_character_a : 0 %>" name="first_character_a">
                        </div>
                    </div>
                    <div class="form-input">
                        <div class="ui-field-contain ">
                            <label  for="">Number Reader Character</label>
                            <input type="number" value="<%= (read_character_a) ? read_character_a : 0 %>" name="read_character_a" >
                        </div>
                    </div>
                    <h1>Reader B</h1>
                    <div class="form-input">
                        <div class="ui-field-contain ">
                            <label  for="">Type</label>
                            <select name="type_b"  id="" value="<%= (type_b) ? type_b : 'error' %>">
                                <option value="HEXADECIMAL" <%= (type_b == 'HEXADECIMAL') ? 'selected=true' : '' %> >Hexadecimal</option>
                                <option value="DECIMAL" <%= (type_b == 'DECIMAL') ? 'selected=true' : '' %>>Decimal</option>
                                <option value="ASCII" <%= (type_b == 'ASCII') ? 'selected=true' : '' %> >Ascii</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-input">
                        <div class="ui-field-contain ">
                            <label  for="">First Character</label>
                            <input type="number"  value="<%= (first_character_b) ? first_character_b : 0 %>" name="first_character_b">
                        </div>
                    </div>
                    <div class="form-input">
                        <div class="ui-field-contain ">
                            <label  for="">Number Reader Character</label>
                            <input type="number" value="<%= (read_character_b) ? read_character_b : 0 %>" name="read_character_b">
                        </div>
                    </div>

                    <div>
                        <button type="submit" class="ui-link ui-btn ui-btn-a ui-tabs-anchor ui-btn-active">Submit</button>
                    </div>
                </form>

            </div>
            
            <!-- /content -->
        </div>
        <!-- /tabs -->
        </div>

        <!-- /footer -->
        <div data-role="popup" id="unipi_config_form_div">
            <form id="unipi_config_form">
                <div style="padding:20px 20px;" class="" id="unipi_config_form_inner_div">
                </div>
            </form>
        </div>
        

    </div>
    <script rel="javascript" type="text/javascript" src="js/app.js"></script>


</body>

</html>
